
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-poppins: Poppins;
    --font-kumbh-sans: 'Kumbh Sans';
    --font-syne: Syne;
    --font-inter: Inter;
    --font-plus-jakarta-sans: 'Plus Jakarta Sans';
    
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-41xl: 60px;
    --font-size-3xs: 10px;
    --font-size-lgi: 19px;
    --font-size-2xl-4: 21.4px;
    --font-size-11xl: 30px;
    --font-size-mini: 15px;
    
    /* Colors */
    --card-color: #2a2a2a;
    --web-design: #161513;
    --secondary-text: #c5c5c5;
    --primary-color: #fff;
    
    /* Paddings */
    --padding-64xl: 83px;
    --padding-61xl: 80px;
    --padding-12xs: 1px;
    
    /* Border radiuses */
    --br-lg: 18px;
    --br-31xl: 50px;
    
}